{%- if section.settings.liquid != blank -%}
  {%- render 'section-spacing-collapsing' -%}

  <style>
    #shopify-section-{{ section.id }} {
      {% if section.settings.remove_vertical_spacing %}--section-spacing-block: 0px;{% endif %}
      {% if section.settings.remove_horizontal_spacing %}--section-spacing-inline: 0px;{% endif %}
    }
  </style>

  <div {% render 'section-properties' %}>
    {{ section.settings.liquid }}
  </div>
{%- endif -%}
{% schema %}
{
  "name": "Liquid Personalizado",
  "class": "shopify-section--custom-liquid",
  "tag": "section",
  "disabled_on": {
    "groups": ["custom.overlay"]
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "Largura total",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "remove_vertical_spacing",
      "label": "Remover espaçamento vertical",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "remove_horizontal_spacing",
      "label": "Remover espaçamento horizontal",
      "default": false
    },
    {
      "type": "liquid",
      "id": "liquid",
      "label": "Código Liquid",
      "info": "Adicione trechos de aplicativos ou outro código Liquid para criar customizações avançadas.",
      "default": "<p style=\"text-align: center\">Escreva ou copie/cole código Liquid</p>"
    },
    {
      "type": "header",
      "content": "Cores",
      "info": "Gradiente substitui cores sólidas quando configurado."
    },
    {
      "type": "color",
      "id": "background",
      "label": "Fundo"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Gradiente de fundo"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Texto"
    }
  ],
  "presets": [
    {
      "name": "Liquid Personalizado"
    }
  ]
}
{% endschema %}
